.*.elc
/ido.last
/recentf
/history
/auto-save-list
/ac-comphist.dat
/ac-dictionaries
/ac-dictionary
/projectile-bookmarks.eld
/projectile.cache
/tramp
/tree-sitter
/.smex-items
/tramp
/bookmarks
/.bookmark
/eshell
/el-get
/elpa
/url
/geben
.dap-breakpoints
.emacs.desktop
.lsp-session-v1
forge-database.sqlite
mthesaur.cache
mthesaur.txt
transient
/obsolete